<div class="infinite-list" #v (scroll)="raiseScroll()">
  <div class="infinite-list-holder" #l>
    <ng-template
      behkhaanInfiniteScroll
      let-item
      [behkhaanInfiniteScrollOf]="items"
      [behkhaanInfiniteScrollListHolder]="listHolder"
      [behkhaanInfiniteScrollHeight]="getHeight"
      (scrollEnd)="addItems()"
    >
      <div class="list-item">
        <div class="list-item-content">This is item {{ item }}.</div>
      </div>
    </ng-template>

    <!-- <div
      *infiniteScroll="
        let item of items;
        let i = index;
        listHolder: listHolder;
        viewportHeight: viewportHeight;
        height: getHeight
      "
      (scrollEnd)="log()"
      class="list-item"
    >
      <div *ngIf="i % 2 == 0" class="list-item-content">
        This is item {{ item }}. when index is even
      </div>
      <div
        #div_odd
        *ngIf="i % 2 != 0"
        class="list-item-content list-odd"
        (click)="changeHeight(div_odd)"
      >
        index is : {{ item }}
        <pre>{{ caption }}</pre>
      </div>
    </div> -->
  </div>
</div>
