.infinite-list {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    contain: layout;
    height: 95vh;
    -webkit-overflow-scrolling: touch;
}

.infinite-list-holder {
    width: 100%;
    height: 100%;
    position: relative;
}

.list-item {
    width: 100%;
    /* position: absolute; */
    padding: 10px;
    box-sizing: border-box;
}

.list-item-content {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
}

.list-odd {
    background-color: red;
}